.home
  width 100%

  .section
    width 100%

  .company-info
    min-height 380px
    background-image url('/images/background1.jpg')
    background-size cover
    background-repeat no-repeat

    .company-name
      width 100%
      text-align center
      color #4db6ac
      font-size 50px
      padding-top 40px

    .company-slogan
      width 100%
      text-align center
      font-size 24px
      color #ffffff
      font-weight 100
      padding-top 35px

    .get-started
      width 100%
      text-align center
      padding-top 40px

      button
        height 50px !important
        width 150px
        
        div > span
          color #ffffff !important

  .company-topics
    width 100%
    padding 0px 12% 25px 12%

    .topic-wrapper
      width 76%

      .topic
        width 27%
        padding 0px 5%
        display table-cell

        .icon-wrapper
          width 100%
          text-align center
          padding 23px 0px

        .label
          width 100%
          text-align center
          font-size 20px
          padding-bottom 15px

        .topic-msg
          width 100%
          font-size 12px
          color rgba(0,0,0,0.8)
          line-height 23px

  .company-sub-info
    min-height 380px
    background-image url('/images/background2.jpg')
    background-size cover
    background-repeat no-repeat

    .company-sub-slogan
      width 100%
      text-align center
      font-size 24px
      color #ffffff
      font-weight 100
      padding-top 185px

  .about-us
    padding 25px 12%

    .about-us-wrapper
      width 76%

      .label
        width 100%
        text-align center
        font-size 25px
        padding-bottom 15px

      .msg
        width 100%
        font-size 12px
        color rgba(0,0,0,0.8)
        line-height 23px

  .company-end-info
    min-height 380px
    background-image url('/images/background3.jpg')
    background-size cover
    background-repeat no-repeat

    .company-third-slogan
      width 100%
      text-align center
      font-size 24px
      color #ffffff
      font-weight 100
      padding-top 185px

  .contact-us
    padding 25px 12%
    background-color #26a69a
    color #ffffff

    .contact-us-wrapper
      width 76%

      .contact-label
        text-align left
        font-size 22px
        padding-bottom 15px

      .contact-info > .contact-type
        margin-bottom 10px

        .label, .value
          display inline-block
          font-size 12px
          font-weight 100
          line-height 23px

        .label
          width 140px

          &.address
            float left




